body{
    background-color: beige;
}
.c1{
    color: red;
    font-size: 35px;
    text-align: center;
}
.recipes
{
    font-size: 15px;
    text-align: center;
}
a:link { 
    text-decoration: none; 
  } 